<!-- Experience Section -->
<section id="experience" class="py-20 bg-gray-50">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-16">
            <h2 class="text-3xl font-bold text-gray-800 mb-4">Expérience & Formation</h2>
            <div class="w-20 h-1 bg-blue-500 mx-auto"></div>
        </div>
        
        <div class="relative">
            <!-- Timeline -->
            <div class="border-l-2 border-blue-200 pl-8 space-y-12">
                <!-- Experience 1 -->
                <div class="relative timeline-item">
                    <div class="bg-white p-6 rounded-lg shadow-md">
                        <div class="flex items-center mb-2">
                            <div class="bg-blue-100 p-2 rounded-full mr-4">
                                <i class="fas fa-briefcase text-blue-500"></i>
                            </div>
                            <div>
                                <h3 class="text-lg font-semibold">Alternant Ingénieur informatique</h3>
                                <p class="text-gray-600">INERIS • Septembre 2020 - Juin 2023</p>
                            </div>
                        </div>
                        <ul class="list-disc pl-5 text-gray-600 space-y-2 mt-4">
                            <li>
                                Développé et optimisé des fonctionnalités innovantes pour le site <a class="text-blue-500 hover:text-blue-700 hover:underline" href="https://www.prevair.org/" target="_blank" rel="noopener noreferrer">PREV’AIR<i class="fa-solid fa-up-right-from-square ml-1"></i></a>, améliorant la performance et l'expérience utilisateur.
                            </li>
                            <li>
                                Sécurisé et migré le module Drupal 
                                <a class="text-blue-500 hover:text-blue-700 hover:underline" href="https://www.ineris.fr/fr/valcem/recherche-valeurs-reglementaires-exposition-cem" target="_blank" rel="noopener noreferrer">VALCEM<i class="fa-solid fa-up-right-from-square ml-1"></i></a>
                                vers Drupal 9, garantissant sa conformité et sa fiabilité pour le calcul des expositions électromagnétiques.
                            </li>
                            <li>Implémenté et orchestré un pipeline CI/CD avec Jenkins et Docker, automatisant les déploiements et réduisant les erreurs.</li>
                        </ul>
                    </div>
                </div>

                <!-- Education 1 -->
                <div class="relative timeline-item">
                    <div class="bg-white p-6 rounded-lg shadow-md">
                        <div class="flex items-center mb-2">
                            <div class="bg-blue-100 p-2 rounded-full mr-4">
                                <i class="fas fa-graduation-cap text-blue-500"></i>
                            </div>
                            <div>
                                <h3 class="text-lg font-semibold">Diplôme d'Ingénieur Informatique et systèmes d’information</h3>
                                <p class="text-gray-600">Conservatoire national des arts et métiers • 2020 - 2023</p>
                            </div>
                        </div>
                        <!-- <ul class="list-disc pl-5 text-gray-600 space-y-2 mt-4">
                            <li>Specialized in Cloud Computing and Distributed Systems</li>
                            <li>Capstone project: Developed a scalable microservice architecture</li>
                            <li>Teaching Assistant for Operating Systems course</li>
                            <li>President of Cloud Computing Club</li>
                        </ul> -->
                    </div>
                </div>
                
                <!-- Experience 2 -->
                <div class="relative timeline-item">
                    <div class="bg-white p-6 rounded-lg shadow-md">
                        <div class="flex items-center mb-2">
                            <div class="bg-blue-100 p-2 rounded-full mr-4">
                                <i class="fas fa-briefcase text-blue-500"></i>
                            </div>
                            <div>
                                <h3 class="text-lg font-semibold">Développeur FullStack - Stage</h3>
                                <p class="text-gray-600">Pickidate • Mars 2019 - Juin 2019</p>
                            </div>
                        </div>
                        <ul class="list-disc pl-5 text-gray-600 space-y-2 mt-4">
                            <li>Conçu et déployé des fonctionnalités interactives, enrichissant l'expérience utilisateur sur le web.</li>
                            <li>Développé des API RESTful et intégré des maquettes responsives pour une interface fluide et moderne.</li>
                        </ul>
                    </div>
                </div>

                <!-- Education 2 -->
                <div class="relative timeline-item">
                    <div class="bg-white p-6 rounded-lg shadow-md">
                        <div class="flex items-center mb-2">
                            <div class="bg-blue-100 p-2 rounded-full mr-4">
                                <i class="fas fa-graduation-cap text-blue-500"></i>
                            </div>
                            <div>
                                <h3 class="text-lg font-semibold">DUT Informatique</h3>
                                <p class="text-gray-600">Université Sorbonne Paris Nord • 2017 - 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>